@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using DNNrocketAPI.render;
@AssigDataModel(Model)
<!--inject-->

<div class="w3-bar  w3-padding">
    @if (!sessionParams.GetBool("moduleedit"))
    {
        <div class="w3-padding w3-button w3-black simplisity_click" s-cmd="articleadmin_editlist" s-fields=''>@ButtonText(ButtonTypes.back)</div>
    }
    else
    {
        var userParams = new UserParams("ModuleID:" + sessionParams.ModuleId, true);
        var viewurl = userParams.Get("viewurl");
        <a href="@viewurl" class="w3-padding w3-button w3-black " style="text-decoration:none;" onclick="$('.simplisity_loader').show();">
            <span class="">
                @ButtonText(ButtonTypes.back)
            </span>
        </a>
    }
    <div class="w3-button w3-theme-action simplisity_click savearticlebutton" s-cmd="articleadmin_savedata" s-post="#articledatasection" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName,.@articleData.ReviewListName" s-fields='{"articleid":"@articleData.ArticleId","tabid":"@(Model.SessionParamsData.TabId)","moduleid":"@(Model.SessionParamsData.ModuleId)","moduleedit":"@(sessionParams.GetBool("moduleedit").ToString())"}'>@ButtonText(ButtonTypes.save)</div>
    <div class="w3-button simplisity_click" s-cmd="articleadmin_editarticle" s-post="#articledatasection" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName,.@articleData.ReviewListName" s-fields='{"articleid":"@articleData.ArticleId","tabid":"@(Model.SessionParamsData.TabId)","moduleid":"@(Model.SessionParamsData.ModuleId)","moduleedit":"@(sessionParams.GetBool("moduleedit").ToString())"}'>@ButtonIcon(ButtonTypes.refresh)</div>

    @if (articleData.Exists)
    {
        <div class="w3-button simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.copy")&nbsp;?" s-cmd="articleadmin_copy" s-fields='{"articleid":"@articleData.ArticleId","tabid":"@(Model.SessionParamsData.TabId)","moduleid":"@(Model.SessionParamsData.ModuleId)","moduleedit":"@(sessionParams.GetBool("moduleedit").ToString())"}'>@ButtonText(ButtonTypes.copy)</div>
    }
    <div class="w3-button w3-right w3-margin-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="articleadmin_delete" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonText(ButtonTypes.delete)</div>
</div>

@{
    Model.SetSetting("chatgptcmd", "rocketdirectoryapi_chatgpt");
}
@RenderTemplate("ChatGptForm.cshtml", appThemeRocketApi, Model, true)
