@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@AssigDataModel(Model)
<!--inject-->

@{
    var groupList = systemData.GetGroups(true);
    var interfacelist = portalContent.PluginActveInterface(systemData);
    Model.SetSetting("adminpanel", "true");

    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();

}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/" + systemData.SystemKey + "/App_LocalResources")

<!-- Page Content -->
<div class="w3-top w3-bar w3-theme-dark " style="height:41px;">
    <div class="w3-bar-item">
        <img src="/DesktopModules/DNNrocket/API/images/nevoweb-icon.png" class="w3-round w3-white" style="height:29px;" />
    </div>
    <div class="w3-bar-item" style="cursor:pointer;" onclick="window.location.reload();">
        <img src="/DesktopModules/DNNrocket/API/images/apps.svg" class="w3-round" style="height:29px;" />
        <span class="w3-small">&nbsp;@ResourceKey("DNNrocket.services")</span>
    </div>

    <div class="w3-right w3-bar-item" style="cursor:pointer;">
        <div class="w3-small" onclick="$('#accountdropdown').toggle();">
            <img src="/DesktopModules/DNNrocket/API/images/manage_accounts.svg" class="w3-round" style="height:29px;" />
            @UserUtils.GetCurrentUserName()
        </div>
        <div id="accountdropdown" class="w3-theme-dark w3-dropdown-content w3-card w3-padding" style="width:320px;left:calc(100vw - 320px)!important;">
            <div>
                @UserUtils.GetCurrentUserEmail()
            </div>
            <hr />
            <div class="w3-button w3-theme-action2 w3-right simplisity_click" s-cmd="login_signout" s-reload="true">@ResourceKey("DNNrocket.signout")</div>
        </div>
    </div>


    @if (enabledlanguages.Count() > 1)
    {
        <div class="w3-bar-item">
            @foreach (var l in enabledlanguages)
            {
                var selectedcolor = "";
                if (sessionParams.CultureCodeEdit == l)
                {
                    selectedcolor = "w3-border-bottom";
                }
                <div id="language-@(l)" class="a-langaugebuttons w3-button w3-padding-small w3-hover-black @(selectedcolor) " onclick="changeEditLanguage('@l');" style="height:29px;"><img src="/DesktopModules/DNNrocket/API/images/flags/24/@(l).png" style="width:24px;" class="w3-round" /></div>
            }
        </div>        
    }


</div>

<!-- Sidebar -->
<div class="w3-sidebar w3-border-right w3-hide-medium w3-hide-small" style="top:41px;display:none" id="largeSidebar">

    <div class="w3-theme-light w3-padding " style="height:41px;">
        <div onclick="closeLargeSideBar()" class="w3-right w3-padding" style="cursor: pointer">
            <b>&times;</b>
        </div>
    </div>

    @foreach (var r in interfacelist)
    {
        if (r.IsOnMenu && r.SecurityCheckUser(portalContent.PortalId, UserUtils.GetCurrentUserId()))
        {
            if (r.DefaultCommand != "")
            {
                <div class="simplisity_click w3-theme-light w3-padding sidemenucmd " onclick="closeLargeSideBar()" s-cmd='@r.DefaultCommand' s-after="showMainPanel" s-fields='{"track":"true","systemkey":"@systemData.SystemKey","basesystemkey":"rocketdirectoryapi","tabid":"@(sessionParams.TabId)","moduleid":"@(sessionParams.ModuleId)"}' style="cursor:pointer;" title="@InterfaceNameResourceKey(r, systemData)">
                    <span class="w3-small">@InterfaceNameResourceKey(r, systemData)</span>
                </div>
            }
        }
    }

</div>
<div class="w3-sidebar w3-border-right w3-hide-medium w3-hide-small" id="smallSidebar" style="top:41px;width:40px;">
    <div onclick="openLargeSideBar()" class="w3-center w3-margin-top" style="cursor: pointer;">
        <img src="/DesktopModules/DNNrocket/API/images/hamburgermenu.svg" />
    </div>
</div>

<div id="main" class="" style="margin-top:41px;margin-left:20px;margin-right:0px;display:none;float: right;width: calc(100% - 20px);">

    <div id="simplisity_startpanel" class="w3-row w3-padding simplisity_panel">

        <div class="w3-container w3-animate-opacity w3-card w3-padding w3-margin w3-white">


            @foreach (var r in interfacelist)
            {
                if (r.IsOnMenu && r.SecurityCheckUser(portalContent.PortalId, UserUtils.GetCurrentUserId()))
                {
                    if (r.DefaultCommand != "")
                    {
                        var menuclass = "w3-theme-l1";
                        if (r.Info.GetXmlProperty("genxml/textbox/menuclass") != "")
                        {
                            menuclass = r.Info.GetXmlProperty("genxml/textbox/menuclass");
                        }
                        <div class="w3-col s6 m4 l2 " style="height:210px;">
                            <div class="w3-margin simplisity_click" s-cmd='@r.DefaultCommand' s-fields='{"track":"true","systemkey":"@systemData.SystemKey","basesystemkey":"rocketdirectoryapi","tabid":"@(sessionParams.TabId)","moduleid":"@(sessionParams.ModuleId)"}' style="cursor:pointer;" title="@InterfaceNameResourceKey(r, systemData)">
                                <div class="@(menuclass) w3-center w3-padding-24 w3-hover-shadow w3-border">
                                    <span class='material-icons w3-jumbo' style=''>@r.InterfaceIcon</span>
                                </div>
                                <div class="w3-center w3-padding" style="line-height:1.2;">
                                    <strong>@InterfaceNameResourceKey(r, systemData)</strong>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', '{"track":"false", "systemkey": "@(systemData.SystemKey)" }');

        // Ensure we always have a systemkey
        simplisity_setParamField("basesystemkey", "rocketdirectoryapi");
        simplisity_setParamField("systemkey", "@(systemData.SystemKey)");
        $('#simplisity_systemkey').val('@(systemData.SystemKey)');

        showMainPanel();
    });

    function showMainPanel() {
        $('#main').show();
    }

    function openLargeSideBar() {
        document.getElementById("main").style.marginLeft = "280px";
        document.getElementById("largeSidebar").style.width = "280px";
        document.getElementById("largeSidebar").style.display = "block";
        document.getElementById("smallSidebar").style.display = "none";
    }

    function closeLargeSideBar() {
        document.getElementById("main").style.marginLeft = "49px";
        document.getElementById("smallSidebar").style.width = "49px";
        document.getElementById("largeSidebar").style.display = "none";
        document.getElementById("smallSidebar").style.display = "block";
    }

    function changeEditLanguage(l) {
        simplisity_setCookieValue('simplisity_editlanguage', l);
        $('.a-reloadpage').trigger('click');
        $('.a-langaugebuttons').removeClass('w3-border-bottom');
        $('#language-' + l).addClass('w3-border-bottom');
    }

</script>

