@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using RazorEngine.Text;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources")

@{
    var portalContent = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var appThemeDirectory = (AppThemeSystemLimpet)Model.GetDataObject("appthemedirectory");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var catalogSettings = (CatalogSettingsLimpet)Model.GetDataObject("catalogsettings");

    var articleid = Model.SessionParamsData.GetInt("articleid");
    var appThemeSystem = new AppThemeSystemLimpet(systemData.SystemKey);
    var sessionParams = Model.SessionParamsData;
    var interfacelist = portalContent.PluginActveInterface(systemData);

    var userParams = new UserParams("ModuleID:" + sessionParams.ModuleId, true);
    var adminpanelurl = userParams.Get("adminpanelurl");
    var viewurl = userParams.Get("viewurl");
    Model.SetSetting("adminpanel", "true");
}
<div class="w3-main w3-animate-opacity adminpaneldisplay" style="display:none;">
 
 
    <div id="simplisity_startpanel" class="w3-row w3-padding simplisity_panel">
        <div class="w3-row">
            @RenderLanguageSelector("rocketdirectoryapi_adminpanel", new Dictionary<string, string>(), appThemeDirectory, Model)
        </div>

        <h1>@catalogSettings.CatalogName</h1>

        @foreach (var r in interfacelist)
        {
            if (r.IsOnMenu && r.SecurityCheckUser(portalContent.PortalId, UserUtils.GetCurrentUserId()))
            {
                var articlesfield = "";
                var articleclass = "";
                if (r.DefaultCommand == "articleadmin_editlist" && articleid > 0)
                {
                    articlesfield = ",\"articleid\":\"" + articleid + "\",\"moduleedit\":\"true\"";
                    articleclass = "articlebutton";
                }
                <div class="w3-col s6 m4 l2 w3-padding ">
                    <div id="@r.DefaultCommand" class="w3-hover-shadow w3-border w3-margin @articleclass simplisity_click" s-cmd='@r.DefaultCommand' s-fields='{"systemkey":"@systemData.SystemKey","basesystemkey":"rocketdirectoryapi","tabid":"@(sessionParams.TabId)"@articlesfield}' style="cursor:pointer;">
                        <div class=" w3-theme w3-jumbo w3-center">
                            <span class='material-icons w3-jumbo' style=''>@r.InterfaceIcon</span>
                        </div>
                        <div class="w3-center">
                            <strong>@InterfaceNameResourceKey(r, systemData)</strong>
                        </div>
                    </div>
                </div>
            }

        }

        <div class="w3-col s6 m4 l2 w3-padding ">
            <div onclick="$('.simplisity_loader').show();window.location.replace('@(viewurl)');" class="w3-hover-shadow w3-border w3-margin" style="cursor:pointer;">
                <div class=" w3-yellow w3-jumbo w3-center">
                    <span class='material-icons w3-jumbo' style=''>exit_to_app</span>
                </div>
                <div class="w3-center">
                    <strong>@ResourceKey("DNNrocket.back")</strong>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { "systemkey": "@(systemData.SystemKey)", "tabid": "@(sessionParams.TabId)", "debug": "false" });
        simplisity_setParamField("basesystemkey", "rocketdirectoryapi");
        simplisity_setParamField("admintabid", "@sessionParams.TabId");

        @if (appTheme.AppThemeFolder == "")
        {
            <text>
                $('#rocketsystem_edit').trigger('click');
                $('.adminpaneldisplay').show();
            </text>
        }

        @if (articleid == 0)
        {
            <text>
            $('.adminpaneldisplay').show();
            </text>
        }
        else
        {
            <text>
            $('.articlebutton').trigger('click');
            $('.adminpaneldisplay').show();
            </text>
        }

    });
</script>

