@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var articleid = Model.SessionParamsData.GetInt("articleid");
    var sessionParams = Model.SessionParamsData;
    var adminpanelurl = userParams.Get("adminpanelurl");
    var viewurl = userParams.Get("viewurl");
    Model.SetSetting("adminpanel", "true");

    var interfacelist = portalContent.PluginActveInterface(systemData);
    var interfacekeylist = RocketDirectoryAPIUtils.AdminInterfaceKeyList(portalData.PortalId, systemData.SystemKey, sessionParams.ModuleRef, sessionParams);
    var interfaceviewlist = RocketDirectoryAPIUtils.AdminInterfaceShow(portalContent, interfacelist, interfacekeylist);
    var lp = 1;
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/" + systemData.SystemKey + "/App_LocalResources")

<div class="w3-main w3-animate-opacity adminpaneldisplay" style="display:none;">
 
    <div id="simplisity_startpanel" class="w3-row w3-padding simplisity_panel">
        <div class="w3-row">
            @RenderLanguageSelector(systemData.SystemKey + "_adminpanel", new Dictionary<string, string>(), appThemeDirectory, Model)
        </div>

        <h1>@catalogSettings.CatalogName</h1>

        @foreach (var r in interfaceviewlist)
        {
            var cmd = r.DefaultCommand;
            if (!appTheme.Exists)
            {
                cmd = systemData.SystemKey + "_rocketsystem"; // no settings
            }

            var articlesfield = "";
            var articleclass = "";
            if (r.DefaultCommand == "articleadmin_editlist" && articleid > 0)
            {
                articlesfield = ",\"articleid\":\"" + articleid + "\",\"moduleedit\":\"true\"";
                articleclass = "articlebutton";
            }
            <div class="w3-col s6 m4 l2 " style="height:210px;">
                <div class="w3-margin @(articleclass) menubutton@(lp) simplisity_click" s-after="showadminpaneldisplay" s-cmd='@cmd' s-fields='{"systemkey":"@systemData.SystemKey","basesystemkey":"rocketdirectoryapi","tabid":"@(sessionParams.TabId)","moduleid":"@(sessionParams.ModuleId)"@articlesfield}' style="cursor:pointer;">
                    <div class="w3-theme w3-center w3-padding-24 w3-round-large w3-hover-shadow">
                        <span class='material-icons w3-jumbo' style=''>@r.InterfaceIcon</span>
                    </div>
                    <div class="w3-center w3-padding" style="line-height:1.2;">
                        <strong>@InterfaceNameResourceKey(r, systemData)</strong>
                    </div>
                </div>
            </div>
            lp += 1;
        }

        <div class="w3-col s6 m4 l2 " style="height:210px;">
            <div onclick="$('.simplisity_loader').show();window.location.replace('@(viewurl)');" class="w3-margin" style="cursor:pointer;">
                <div class=" w3-yellow w3-center w3-padding-24 w3-round-large w3-hover-shadow">
                    <span class='material-icons w3-jumbo' style=''>logout</span>
                </div>
                <div class="w3-center w3-padding" style="line-height:1.2;">
                <strong>@ResourceKey("DNNrocket.back")</strong>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="w3-right w3-padding w3-tiny">@systemData.SystemKey</div>

<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { "systemkey": "@(systemData.SystemKey)", "tabid": "@(sessionParams.TabId)", "debug": "false" });
        simplisity_setParamField("basesystemkey", "rocketdirectoryapi");
        simplisity_setParamField("admintabid", "@sessionParams.TabId");

        @if (appTheme.AppThemeFolder == "")
        {
            <text>
                $('#rocketsystem_edit').trigger('click');
                showadminpaneldisplay();
            </text>
        }

        @if (articleid == 0)
        {
            <text>
                showadminpaneldisplay();
            </text>
        }
        else
        {
            <text>
                $('.articlebutton').trigger('click');
            </text>
        }
        @if (!appTheme.Exists && lp > 1)
        {
            <text>
                $('.menubutton1').trigger('click');
            </text>
        }

    });

    function showadminpaneldisplay() {
        $('.adminpaneldisplay').show();
    }
</script>

