@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var systemAppTheme = new AppThemeDNNrocketLimpet("rocketapptheme");
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/RocketAppTheme/App_LocalResources/")

@RenderTemplate("Popups.cshtml", systemAppTheme, Model, true)


<div class="w3-row">
    <a href="@DNNrocketUtils.NavigateURL(moduleData.TabId)" class="w3-button w3-black">@ButtonIconText(ButtonTypes.back)</a>

    <div class="w3-row w3-right w3-small">
        <div class="">
            @moduleData.ModuleRef
        </div>
        <div class="">
            @portalContent.ProjectName
        </div>
        <div class="">
            @portalContent.AppThemeFolder
        </div>
    </div>
</div>

<div class="w3-row">

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-green w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">
                    System Level&nbsp;
                    <span class="material-icons">
                        system_update_alt
                    </span>
                </div>
            </div>
            <div class="w3-margin">
                @ResourceKey("AppThemes.systemleveleditmsg")
            </div>
        </div>
    </div>

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-yellow w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">Portal Level&nbsp;<img src="/images/level_portal.svg" /></div>
            </div>
            <div class="w3-margin">
                <div class="w3-button w3-white w3-border w3-block w3-padding-16 simplisity_click" s-cmd="rocketapptheme_getdetail" s-return="#editmodalcontainer" s-after="showeditpopup" s-fields='{"selectedproject":"@moduleData.ProjectName","moduleref":"","appthemefolder":"@portalContent.AppThemeFolder","appversionfolder":"@portalContent.AppThemeVersion"}'>
                    @ResourceKey("AppThemes.edittemplates")
                </div>
                <div class="w3-small w3-left-align">
                    @foreach (var t in appTheme.PortalTemplateList())
                    {
                        <div class="w3-margin-top"><strong>@t</strong></div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="w3-col m4 w3-padding">
        <div class="w3-pale-blue w3-container w3-center">
            <div class="w3-margin">
                <div class="w3-xlarge">Module Level&nbsp;<img src="/images/level_module.svg" /></div>
            </div>
            <div class="w3-margin">
                <div class="w3-button w3-white w3-border w3-block w3-padding-16 simplisity_click" s-cmd="rocketapptheme_getdetail" s-return="#editmodalcontainer" s-after="showeditpopup" s-fields='{"selectedproject":"@moduleData.ProjectName","moduleref":"@moduleData.ModuleRef","appthemefolder":"@portalContent.AppThemeFolder","appversionfolder":"@portalContent.AppThemeVersion"}'>
                    @ResourceKey("AppThemes.edittemplates")
                </div>
                <div class="w3-small w3-left-align">
                    @foreach (var t in appTheme.ModuleTemplateList(moduleData.ModuleRef))
                    {
                        <div class="w3-margin-top"><strong>@t.Replace(moduleData.ModuleRef + "_", "")</strong></div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<div class="w3-row">
    <div class="w3-padding">
        <b>@moduleData.ModuleRef</b>
    </div>
    <div class="w3-padding">
        <b>@moduleData.AppThemeAdminFolder</b>
    </div>
</div>

<script>
    $(document).ready(function () {
       $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: 'rocketapptheme', debug: false });
       $('.simplisity_loader').hide();
    });
</script>


