@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->

@{
    var modLP = 1;
    var datalist = articleData.GetModelList();
}
        <ul id="modellistdata" class="w3-ul">

            @foreach (var modelInfo in datalist)
            {
                <li class="modellist w3-display-container w3-padding w3-border-0">
                    @SortableListIndex(modelInfo, modLP)

                    <input id="modelkey" type="hidden" value="@modelInfo.GetXmlProperty("genxml/hidden/modelkey")" />

                    <div class="w3-row w3-display-container w3-card">
                        <div class="w3-col m1 w3-padding" style="min-width: 120px;">
                            <label class="">@ResourceKey("DNNrocket.ref")</label>
                            @TextBox(modelInfo, "genxml/textbox/modelref", " class='w3-input w3-border' autocomplete='off' ", "", false, modLP)
                        </div>
                        <div class="w3-col m5 w3-padding" style="min-width: 180px;">
                            <label class="">@ResourceKey("DNNrocket.name")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(modelInfo, "genxml/lang/genxml/textbox/modelname", " class='w3-input w3-border' autocomplete='off' ", "", true, modLP)
                        </div>
                        <div class="w3-col m4 w3-padding" style="min-width: 140px;">
                            <label class="">@ResourceKey("RC.barcode")</label>
                            @TextBox(modelInfo, "genxml/textbox/barcode", " class='w3-input w3-border' autocomplete='off' ", "", false, modLP)
                        </div>
                        <div class="w3-col m1 w3-padding" style="min-width: 80px;">
                            <label class="">@ResourceKey("RC.price")</label>
                            @TextBoxMoney(articleData.PortalId, systemData.SystemKey, articleData.CultureCode, modelInfo, "genxml/textbox/modelprice", "  class='w3-input w3-border w3-right-align ' autocomplete='off' ", "0", false, modLP)
                        </div>
                        <div class="simplisity_removelistitem w3-display-topright w3-padding" s-removelist=".modellist" s-recylebin="modellistbin" style="cursor: pointer;">
                            @ButtonIcon(ButtonTypes.remove)
                        </div>
                    </div>

                </li>
                modLP += 1;
            }
        </ul>

    <script>
        $(document).ready(function () {
            $("#modellistdata").sortable();
            $("#modellistdata").disableSelection();
        });
    </script>
