@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
<!--inject-->
@{
    var reviewLP = 0;
    var reviewfieldId = "articlereview";
}

<div class="w3-row">
    <div class="w3-right">
        <label>@ResourceKey("DNNrocket.reviewcount")</label>
        @TextBox(info, "genxml/textbox/reviewcount", " class='w3-input w3-border' autocomplete='off' style='width:100px;'", "", false,0,"","number")
    </div>
</div>

<div class="w3-row reviewlistdatasection">


    <div class="w3-bar-block">
        <div class="w3-button w3-padding-small w3-theme-action simplisity_click" s-post="#articledatasection" s-return="#reviews" s-list=".@articleData.ImageListName,.@articleData.DocumentListName,.@articleData.LinkListName,.@articleData.ReviewListName" s-cmd="articleadmin_addreview" s-fields='{"articleid":"@articleData.ArticleId"}'>@ButtonIcon(ButtonTypes.add)&nbsp;@ResourceKey("DNNrocket.reviews")</div>
        <div class="w3-button w3-pale-yellow w3-padding-small simplisity_itemundo" s-recylebin="reviewlistbin" s-return="#reviewlistdata" s-removelist=".reviewlist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>


    <ul id="reviewlistdata" class="w3-ul">

        @foreach (var reviewInfo in articleData.GetReviewList())
        {
            <li class="reviewlist w3-display-container w3-border-0"  style="list-style-type: none;">
                @SortableListIndex(reviewInfo, reviewLP)

                <div class="w3-display-container w3-padding w3-card">
                    <div class="w3-row">
                        <div class="w3-half">
                            <label>@ResourceKey("DNNrocket.name")</label>
                            @TextBox(reviewInfo, "genxml/textbox/name" + reviewfieldId, " class='w3-input w3-border' autocomplete='off'", "", false, reviewLP)
                        </div>
                        <div class="w3-quarter">
                            <br/>
                            @RadioButtonList(reviewInfo, "genxml/select/stars" + reviewfieldId,"1,2,3,4,5","1,2,3,4,5"," class='w3-right'","", ResourceKey("Blog.stars").ToString(),false,reviewLP)
                        </div>
                        <div class="w3-quarter w3-right-align">
                            <br/>
                            @CheckBox(reviewInfo, "genxml/checkbox/hide" + reviewfieldId, "&nbsp;" + ResourceKey("DNNrocket.hide").ToString(), " class='w3-check' ", false, false, reviewLP)
                        </div>
                        <div class="w3-col m12">
                            <label>@ResourceKey("Blog.comment")</label>
                            @TextArea(reviewInfo, "genxml/textbox/comment" + reviewfieldId, " class='w3-input w3-border' autocomplete='off'", "", false, reviewLP)
                        </div>
                    </div>
                    <div class="simplisity_removelistitem w3-display-topright" s-removelist=".reviewlist" s-recylebin="reviewlistbin" style="cursor: pointer;">
                        @ButtonIcon(ButtonTypes.remove)
                    </div>
                </div>
            </li>
            reviewLP += 1;
        }
    </ul>

</div>


<script>
    $(document).ready(function () {
        $("#reviewlistdata").sortable();
        $("#reviewlistdata").disableSelection();

        $('.reviewtypeclick').unbind('click');
        $('.reviewtypeclick').click(function () {
            var reviewrow = $(this).attr("reviewrow");
            var selectedval = $(this).find(":checked").val();
            if (selectedval === '1') {
                $('.internalreview' + reviewrow).show();
                $('.externalreview' + reviewrow).hide();
            }
            if (selectedval === '2') {
                $('.internalreview' + reviewrow).hide();
                $('.externalreview' + reviewrow).show();
            }
        });

    });

</script>


