@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->
@{
    var articledocumentsLP = 1;
}
<div class="w3-row documentlistdatasection">

    <div class="w3-bar-block">
        <div class="w3-button w3-padding-small  w3-border" onclick="$('#articledocumentselect').show();">@ButtonIcon(ButtonTypes.add)&nbsp;@ResourceKey("DNNrocket.docs")</div>
        <div class="w3-button w3-pale-yellow w3-padding-small simplisity_itemundo" s-recylebin="documentlistbin" s-return="#documentlistdata" s-removelist=".documentlist" style="display: none;">@ButtonIcon(ButtonTypes.undo)</div>
    </div>

    <ul id="documentlistdata" class="w3-ul">

        @foreach (var docInfo in articleData.GetDocList())
        {
            <li class="documentlist w3-display-container w3-padding w3-border-0" style="list-style-type: none;">
                @SortableListIndex(docInfo, articledocumentsLP)

                <div class="w3-display-container w3-card">
                    <span onclick="" class="w3-button w3-display-topright simplisity_removelistitem" s-removelist=".documentlist" s-recylebin="documentlistbin">
                        @ButtonIcon(ButtonTypes.remove)
                    </span>
                    <div class="w3-row">
                        <div class="w3-col m9 w3-padding">
                                @HiddenField(docInfo, "genxml/hidden/documentpatharticledoc", "", "", false, articledocumentsLP)
                                @HiddenField(docInfo, "genxml/hidden/dockey", "", "", false, articledocumentsLP)
                                @HiddenField(docInfo, "genxml/hidden/fileextensionarticledoc", "", "", false, articledocumentsLP)
                                <label>@ResourceKey("DNNrocket.name")</label>&nbsp;@EditFlag(sessionParams)
                            @TextBox(docInfo, "genxml/lang/genxml/textbox/documentnamearticledoc", " class='w3-input w3-border' ", "", false, articledocumentsLP)
                                <label class="">@ResourceKey("DNNrocket.document")</label>
                                @TextBox(docInfo, "genxml/textbox/documentnamearticledoc", " class='w3-input w3-border w3-light-grey' disabled ", "", false, articledocumentsLP)
                            </div>
                        <div class="w3-col m3 w3-padding">
                            @CheckBox(docInfo, "genxml/lang/genxml/checkbox/documenthiddenarticledoc", "&nbsp;" + EditFlag(sessionParams) + "&nbsp;" + ResourceKey("DNNrocket.hidden").ToString(), "class='w3-check w3-margin-top'", false, false, articledocumentsLP)
                        </div>
                    </div>
                </div>

            </li>
            articledocumentsLP += 1;
        }
    </ul>

</div>

[INJECT:appthemedirectory,ArticleDocumentSelect.cshtml]

<script>
    $(document).ready(function () {
        $("#documentlistdata").sortable();
        $("#documentlistdata").disableSelection();
    });

</script>
