@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
<!--inject-->

<div class="w3-row">

    <div class="w3-row w3-padding">
        <label>Twitter</label>
        @TextBox(info, "genxml/textbox/twitterlink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Linkedin</label>
        @TextBox(info, "genxml/textbox/linkedinlink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Facebook</label>
        @TextBox(info, "genxml/textbox/facebooklink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Youtube</label>
        @TextBox(info, "genxml/textbox/youtubelink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Pinterest</label>
        @TextBox(info, "genxml/textbox/pinterestlink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Instagram</label>
        @TextBox(info, "genxml/textbox/instagramlink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>
    <div class="w3-row w3-padding">
        <label>Tripadvisor</label>
        @TextBox(info, "genxml/textbox/tripadvisorlink", " class='w3-input w3-border' autocomplete='off'", "", false)
    </div>

</div>