@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources")
<!--inject-->
@{
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
    var adminpanelurl = userParams.Get("adminpanelurl");
    var viewurl = userParams.Get("viewurl");
    var moduleedit = sessionParams.GetBool("moduleedit");
    var interfacelist = portalContent.PluginActveInterface(systemData);
    var interfacekeylist = RocketDirectoryAPIUtils.AdminInterfaceKeyList(portalData.PortalId, systemData.SystemKey, sessionParams.ModuleRef, sessionParams);
    var interfaceviewlist = RocketDirectoryAPIUtils.AdminInterfaceShow(portalContent, interfacelist, interfacekeylist);
}

<!-- Top Bar -->
<div id="topbar" class="w3-bar w3-margin-bottom" style="z-index:2;height:48px;overflow:visible;width: 100%;">

    @if (!Model.GetSettingBool("adminpanel") && !sessionParams.GetBool("portalsystems"))
    {
        <div class="w3-bar-item w3-hide-small">
        <div class="w3-dropdown-click">
            <a href="#" class="w3-yellow w3-button" onclick="admindropdown()">
                <span class="material-icons">menu</span>
            </a>
            <div class="w3-dropdown-content w3-bar-block w3-border w3-theme-l5" id="adminmenu">
                @foreach (var r in interfaceviewlist)
                {
                <div class="simplisity_click w3-theme w3-bar-item w3-button" s-cmd='@r.DefaultCommand' s-fields='{"systemkey":"@systemData.SystemKey","basesystemkey":"rocketdirectoryapi","tabid":"@(sessionParams.TabId)","moduleid":"@(sessionParams.ModuleId)"}' style="cursor:pointer;" title="@InterfaceNameResourceKey(r, systemData)">
                    <span class='material-icons'>@r.InterfaceIcon</span>
                    <strong>@InterfaceNameResourceKey(r, systemData)</strong>
                </div>
                }
                <div class="w3-yellow w3-bar-item w3-button" onclick="$('.simplisity_loader').show();window.location.replace('@(viewurl)');">
                    <span class='material-icons'>exit_to_app</span>
                    <strong>@ResourceKey("DNNrocket.back")</strong>
                </div>
            </div>
        </div>
        </div>
        <div class="w3-bar-item">
            <a href="@adminpanelurl" class="w3-yellow w3-button">
                <span class="material-icons">widgets</span>
                <strong>Admin Panel</strong>
            </a>
        </div>
    }

    <div class="w3-bar-item">
    @foreach (var l in enabledlanguages)
    {
        var selectedcolor = "w3-theme-l5";
        if (sessionParams.CultureCodeEdit == l)
        {
            selectedcolor = "w3-theme-l3";
        }
        <div class="w3-button w3-padding-small w3-round @(selectedcolor) simplisity_click" s-cmd="@(Model.GetSetting("scmd"))" s-fields='@(Model.GetSetting("sfields").Replace("[LANGUAGE]", l))' language="@(l)"><img src="/DesktopModules/DNNrocket/API/images/flags/24/@(l).png" class="w3-round" /></div>
    }
    </div>
    @if (Model.GetSettingBool("adminpanel") && !moduleedit && !sessionParams.GetBool("portalsystems"))
    {
        <div class="w3-right">
            <button type="button" class="w3-button " onclick="topbaractiontools()"><span class="material-icons">more_vert</span></button>
            <div id="actiontools" class="w3-dropdown-content w3-left w3-bar-block w3-card" style="z-index: 5;right: 0">

                @if (UserUtils.IsAdministrator())
                {
                    <button type="button" class="w3-bar-item w3-button simplisity_click" s-cmd="rocketapi_clearallcache" s-reload="true" s-fields='' s-return="#simplisity_startpanel">@ResourceKey("DNNrocket.clearallcache")</button>
                    <a class="w3-bar-item w3-button" href="/" style="text-decoration: none;color: black;">@ResourceKey("DNNrocket.cmsadmin")</a>
                }
                @if (UserUtils.IsSuperUser())
                {
                    <button type="button" class="w3-bar-item w3-button simplisity_confirmclick" s-reload="true" s-confirm="@ResourceKey("DNNrocket.cleartempdb") &nbsp;?" s-cmd="rocketapi_cleartempdb">@ResourceKey("DNNrocket.cleartempdb")</button>
                    <button type="button" class="w3-bar-item w3-button simplisity_click" s-reload="true" s-cmd="rocketapi_recycleapppool">@ResourceKey("DNNrocket.recycleapppool")</button>
                }

            <button type="button" class="w3-bar-item w3-button simplisity_click" s-cmd="login_signout" s-reload="true">@ResourceKey("DNNrocket.signout")</button>
            </div>
        </div>
    }
    <div class="w3-right w3-padding">@UserUtils.GetCurrentUserName()</div>
</div>

<script>
    // Admin dropdown menu
    function admindropdown() {
        var x = document.getElementById("adminmenu");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    // Tools dropdown menu
    function topbaractiontools() {
        var x = document.getElementById("actiontools");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
