@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssignDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketContentAPI/App_LocalResources/")

@{
    var cmd = portalContent.SystemKey + "_selectapptheme";
}

<div id="a-datasection" class="w3-container w3-margin w3-padding">
    <div class="w3-large w3-margin-bottom">
        @ResourceKey("RCT.selectapptheme")
    </div>
    @foreach (var appTheme2 in appThemeDataList.List)
    {
        <div class="w3-padding w3-third">
            <div class="w3-button w3-theme w3-round w3-block w3-large simplisity_click" s-cmd="@cmd" s-fields='{"moduleref":"@moduleData.ModuleRef","moduleid":"@moduleData.ModuleId","appthemefolder":"@appTheme2.AppThemeFolder","tabid":"@(Model.SessionParamsData.TabId)"}'>
                @appTheme2.Name
            </div>
        </div>
    }
</div>


<script>
    $(document).ready(function () {
        $(document).simplisityStartUp('/Desktopmodules/dnnrocket/api/rocket/action', { systemkey: '@(portalContent.SystemKey)', debug: false });
        $('.simplisity_loader').hide();
    });
</script>


