@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using Simplisity;
@using RocketDirectoryAPI.Components;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var info = new SimplisityInfo();
    var propertyData = (PropertyLimpet)Model.List.First();
    if (propertyData.Info != null)
    {
        info = propertyData.Info;
    }
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var appThemeDirectory = (AppThemeSystemLimpet)Model.GetDataObject("appthemedirectory");
    var sessionParams = Model.SessionParamsData;
    var catalogSettings = (CatalogSettingsLimpet)Model.GetDataObject("catalogsettings");
}

<div class="pl-breadcrumb">
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue " onclick="window.location.reload();">@ResourceKey("DNNrocket.services")</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue simplisity_click" s-cmd="propertyadmin_editlist" s-fields='{"track":"true"}'>@ResourceKey("RC.properties")</div>
    <div class="pl-breadcrumb-item">
        <img src="/DesktopModules/DNNrocket/API/images/chevron_right.svg" />
    </div>
    <div class="a-reloadpage pl-breadcrumb-itemlink w3-border-blue w3-border-bottom w3-text-blue simplisity_click" s-cmd="propertyadmin_edit" s-fields='{"track":"true","propertyid":"@propertyData.PropertyId "}'>@propertyData.Name</div>
</div>

<div class='w3-animate-opacity w3-card w3-padding w3-margin w3-white'>

    <div class="w3-row w3-padding">
        <button class="w3-button w3-theme-action2 simplisity_click savepropertybutton" s-list=".imagepropertylist,.articlelist" s-cmd="propertyadmin_save" s-post="#datapropertysection" s-fields='{"propertyid":"@info.ItemID"}'>@ButtonText(ButtonTypes.save)</button>
        <button class="w3-button w3-right w3-red simplisity_confirmclick" s-confirm="@ResourceKey("DNNrocket.delete","","confirm")" s-cmd="propertyadmin_delete" s-fields='{"propertyid":"@info.ItemID"}' title='@ResourceKey("DNNrocket.delete")'>@ButtonText(ButtonTypes.delete)</button>
    </div>

    @if (Model.GetSettingBool("duplicateref"))
    {
    <div class="w3-row w3-padding">
        <div class="w3-row w3-padding w3-pale-red">
            <span class="material-icons">
                warning
            </span>
            <span>@ResourceKey("RC.duplicateref")</span>
        </div>
    </div>        
    }

    <div class="w3-bar w3-margin-top w3-theme-l4">
        <div class="w3-bar-item w3-button w3-button w3-theme-action propertybutton cattablink" onclick="openPropertyTab('property');">@ResourceKey("RC.property")</div>
        <div class="w3-bar-item w3-button articlesbutton cattablink " onclick="openPropertyTab('articles');">@ResourceKey("RC.articles")</div>
    </div>

    <div id="datapropertysection" class="w3-border">
        <div id="property" class="propertytab">
            <!-- The Detail-->
            <div id="detailDisplay" class="w3-container">

                <div class='w3-row'>
                    <div class='w3-col m2 w3-padding'>
                        <label>@ResourceKey("RC.ref")</label>
                        @{
                            var disabledref = "";
                            if (propertyData.Ref != "")
                            {
                                disabledref = " disabled ";
                            }
                        }
                        @TextBox(info, "genxml/textbox/ref", " class='w3-input w3-border' autocomplete='off' " + disabledref, "", false, 0)
                    </div>
                    <div class='w3-col m8 w3-padding'>
                        <label>@ResourceKey("RC.name")</label>		&nbsp;@EditFlag(sessionParams)
                        @TextBox(info, "genxml/lang/genxml/textbox/name", " class='w3-input w3-border' autocomplete='off' ", "", true, 0)
                    </div>
                    <div class='w3-col m2 w3-padding' style="">
                        <label>@ResourceKey("DNNrocket.sortorder")</label>
                        @TextBox(info, "genxml/textbox/sortorder", " class='w3-input w3-border' autocomplete='off' min='0' step='1' ", "", false, 0,"","number")
                    </div>
                </div>
                <div class='w3-row w3-padding'>
                    @if (catalogSettings.GetPropertyGroups().Count > 0)
                    {
                    <label>@ResourceKey("RC.group")</label>
                    @CheckBoxList(info, "genxml/checkboxlist/group", catalogSettings.GetPropertyGroups(), " class=' rocket-checkboxlist ' ")                        
                    }
                </div>

                <div class='w3-row w3-padding'>
                    <label>@ResourceKey("RC.summary")</label>&nbsp;@EditFlag(sessionParams)
                    @TextArea(info, "genxml/lang/genxml/textbox/summary", " class='w3-input w3-border' autocomplete='off'  rows='4' ", "", true, 0)
                </div>
            </div>
            <div class=" w3-row w3-padding">
                @RenderTemplate("PropertyFields.cshtml", appTheme, Model, true)
            </div>


            @if (UserUtils.IsInRole("Administrator"))
            {
                <div class="w3-container w3-margin-top">
                    <div class="w3-right">
                        @RenderXml(info)
                    </div>
                </div>
            }

        </div>

        <div id="articles" class="propertytab" style="display:none">
            <div id="datalist2" class="w3-row w3-padding  w3-margin-top ">
                <table class="w3-table w3-bordered">
                    <tr>
                        <th style="width: 64px;"></th>
                        <th>@ResourceKey("DNNrocket.name")</th>
                        <th style="width: 64px;"></th>
                    </tr>
                    @{
                        var lp1 = 0;
                    }
                    @foreach (SimplisityInfo articleInfo in propertyData.GetArticlesInfo())
                    {
                        lp1 += 1;
                        <tr>
                            <td>
                                <div class="w3-button simplisity_click" s-cmd="articleadmin_editarticle" s-fields='{"articleid":"@articleInfo.ItemID","propertyguidkey":"@propertyData.GUIDKey","track":"false"}'>
                                    @ButtonIcon(ButtonTypes.edit)
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    @articleInfo.GetXmlProperty("genxml/lang/genxml/textbox/articlename")
                                </div>
                            </td>
                            <td>
                                <div class="w3-button w3-right simplisity_click " s-cmd="propertyadmin_removearticle" s-fields='{"articleid":"@(articleInfo.ItemID)","propertyid":"@(propertyData.PropertyId)"}'>
                                    @ButtonIcon(ButtonTypes.remove)
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="w3-padding">
    <i>ID: </i> @info.ItemID <i> GuidKey:</i> @info.GUIDKey
</div>

<script>
    $(document).ready(function () {
        openPropertyTab('property');
        $(':checkbox').addClass('w3-check');
    });

    function openPropertyTab(propertytab) {

        if ((typeof propertytab === 'undefined') || propertytab === '') {
            propertytab = 'property';
        }

        var i, x, tablinks;
        x = document.getElementsByClassName("propertytab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("cattablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-theme-action", "");
        }
        document.getElementById(propertytab).style.display = "block";
        $('.' + propertytab + 'button').addClass('w3-theme-action');
    }

</script>



