@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using Rocket.AppThemes.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var info = portalCatalog.Info;
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var appThemeCatalog = (AppThemeSystemLimpet)Model.GetDataObject("appthemecatalog");
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var projectData = new AppThemeProjectLimpet();
}
<!--inject-->
@{
    var selectedProject = portalCatalog.ProjectName;
    if (selectedProject == "" && projectData.ActiveList().Count > 0)
    {
        selectedProject = projectData.DefaultProjectName();
    }
    var requiredCSS = "";
    var appThemeDict = new Dictionary<string, string>();
    if (info.GetXmlProperty("genxml/select/appthemeadmin") == "")
    {
        requiredCSS = "w3-pale-red";
    }
    var appThemeDataList = AppThemeUtils.AppThemeDataList(portalCatalog.PortalId, selectedProject, systemData.SystemKey);
    appThemeDict = appThemeDataList.NameListDict(true);
}

<div id="sidemenugeneraldata" class="w3-container a-panelsidemenu">

    <div class="w3-row">
        <div class="w3-col m5 w3-padding">
        <div class="">AppTheme Project</div>
        @DropDownList(info, "genxml/select/selectedprojectnameadmin", projectData.ActiveList(), " name='selectedprojectnameadmin' class='w3-input w3-border simplisity_change' s-dropdownlist='#appthemeadmin' s-cmd='rocketapptheme_appthemejson' s-fields='{\"selectedsystemkey\":\"" + portalCatalog.SystemKey + "\",\"addempty\":\"true\"}' s-after='projectdropdownreturnadmin'", selectedProject)
        </div>
        <div class="w3-col m5 w3-padding">
            @if (info.GetXmlProperty("genxml/select/appthemeadmin") == "")
            {
                <div class="w3-text-red">@ResourceKey("RC.appthememissing")</div>
            }
            else
            {
                <div class="">AppTheme </div>                
            }

            @DropDownList(info, "genxml/select/appthemeadmin", appThemeDict, " name='selectedappthemeadmin' class='w3-input w3-border " + requiredCSS + " simplisity_change' s-dropdownlist='#appthemeadminversion' s-cmd='rocketapptheme_versionjson' s-fields='{\"selectedsystemkey\":\"" + portalCatalog.SystemKey + "\"}'", "")
        </div>
        <div class="w3-col m2 w3-padding">
            <div class="">@ResourceKey("DNNrocket.version")</div>
        @DropDownList(info, "genxml/select/appthemeadminversion", "1.0","1.0", " name='selectedversionadmin' class='w3-input w3-border'", "1.0")
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("RCP.maxarticles")</label>
            @TextBox(info, "genxml/maxarticles", "class='w3-input w3-border' style='width:120px;' ", "1000", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("RCP.articlesimagelimit")</label>
            @TextBox(info, "genxml/articlesimagelimit", "class='w3-input w3-border' style='width:120px;' ", "12", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("RCP.articlesdocumentlimit")</label>
            @TextBox(info, "genxml/articlesdocumentlimit", "class='w3-input w3-border' style='width:120px;' ", "12", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("RCP.imageresize")</label>
            @TextBox(info, "genxml/imageresize", "class='w3-input w3-border' style='width:120px;' ", "1024", false)
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("DNNrocket.emailon")</label>
            @CheckBox(info, "genxml/emailon", "", "class='w3-input w3-border w3-check'", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">Debug Mode</label>
            @CheckBox(info, "genxml/debugmode", "", "class='w3-input w3-border w3-check'", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("DNNrocket.secureupload")</label><br />
            @CheckBox(info, "genxml/secureupload", "", "class='w3-input w3-border w3-check'", false)
        </div>
        <div class="w3-quarter w3-padding">
            <label class="">@ResourceKey("DNNrocket.securitykey")</label><br />
            @TextBox(info, "genxml/securitykey", "class='w3-input w3-border' ", GeneralUtils.GetGuidKey(), false)
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-quarter w3-padding">
            @CheckBox(info, "genxml/downloadcount", "&nbsp;" + @ResourceKey("RC.countdownloads").ToString(), "class='w3-check'")
        </div>
        <div class="w3-quarter w3-padding">
            @CheckBox(info, "genxml/checkboxfilterand", "&nbsp;" + @ResourceKey("RC.checkboxfilterand").ToString(), " class='w3-check' ")
        </div>
    </div>

</div>

<hr/>
<script type="text/javascript">

    $(document).ready(function () {
        
        @if (portalCatalog.AppThemeFolder == "")
        {
            <text>
                    $('#selectedprojectnameview').trigger('change');
            </text>        
        }
        @if (portalCatalog.AppThemeFolder == "")
        {
            <text>
                    $('#selectedprojectnameadmin').trigger('change');
            </text>
        }

    });

    function docopyclipboard(element) {
        rpadmin.CopyTextToClipboard(element);
    }
    function projectdropdownreturnview() {
        jQuery("#appthemeviewversion").html('');
    }
    function projectdropdownreturnadmin() {
        jQuery("#appthemeadminversion").html('');
    }


</script>
