@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var info = portalCatalog.Info;
}
<!--inject-->
@{
    var disableSqlEdit = " disabled ";
    if (UserUtils.IsSuperUser())
    {
        disableSqlEdit = "";
    }
}

<div id="sidemenuconfigdata" class="w3-container a-panelsidemenu">

    @if (!UserUtils.IsSuperUser())
    {
        <div class="w3-panel w3-pale-red w3-padding-16">
            @ResourceKey("DNNrocket.suonly")
        </div>
    }

    <div class="w3-row">
        <div class="w3-col m6  w3-padding" style="">
            <label class="">@ResourceKey("RC.currencyculturecode")</label>
            @{
                var allCultureCodeDict = new Dictionary<string, string>();
                var allCultureCodeList = DNNrocketUtils.GetAllCultureCodeList();
                foreach (var cRec in allCultureCodeList)
                {
                    allCultureCodeDict.Add(cRec.GetXmlProperty("genxml/code"), cRec.GetXmlProperty("genxml/code"));
                }
            }
            @DropDownList(info, "genxml/currencyculturecode", allCultureCodeDict, "class='w3-input w3-border'", DNNrocketUtils.GetEditCulture())
        </div>
        <div class="w3-col m6 w3-padding">
            <label class="">@ResourceKey("RC.currencycode")</label>
            @TextBox(info, "genxml/currencycode", "class='w3-input w3-border' disabled ", "", false)
        </div>
    </div>

    <i>@ResourceKey("RC.setcanonical")</i>
    <div class="w3-row ">
        <div class="w3-quarter  w3-padding">
            <label class="">@ResourceKey("RC.listpage")</label>
            @TabSelectListOnTabId(info, "genxml/listpage", " class=' w3-input w3-border ' ", false, false, 0, "", true)
        </div>
        <div class="w3-quarter  w3-padding">
            <label class="">@ResourceKey("RC.detailpage")</label>
            @TabSelectListOnTabId(info, "genxml/detailpage", " class=' w3-input w3-border ' ", false, false, 0, "", true)
        </div>
        <div class="w3-quarter  w3-padding">
            <label class="">@ResourceKey("RC.searchpage")</label>
            @TabSelectListOnTabId(info, "genxml/searchpage", " class=' w3-input w3-border ' onchange='$(\".savebutton\").trigger(\"click\");' ", true, false, 0, "", true)
        </div>
        <div class="w3-quarter  w3-padding">
            @if (PagesUtils.PageExists(info.PortalId, info.GetXmlPropertyInt("genxml/searchpage")))
            {
                var moduleDict = ModuleUtils.GetTabModuleTitles(info.GetXmlPropertyInt("genxml/searchpage"));
                var moduleDict2 = new Dictionary<string, string>();
                moduleDict2.Add("-1", "");
                foreach (var m in moduleDict)
                {
                    moduleDict2.Add(m.Key.ToString(), m.Value);
                }
                <span>
                    <label class="">@ResourceKey("RC.searchmoduleid")</label>
                    @DropDownList(info, "genxml/searchmoduleid", moduleDict2, " class=' w3-input w3-border ' ","", false)
                </span>
            }
        </div>
    </div>

    <div class="w3-row  w3-padding w3-border-bottom">
        <label class="">@ResourceKey("RCP.sqlfilterarticle")</label>
        @TextArea(info, "genxml/sqlfilterarticle", "class='w3-input w3-border' s-datatype='coded' rows='6' " + disableSqlEdit, "", false)
    </div>
    <div class="w3-row  w3-padding w3-border-bottom">
        <label class="">@ResourceKey("RCP.sqlfilterarticle") (Admin)</label>
        @TextArea(info, "genxml/sqlfilterarticleadmin", "class='w3-input w3-border' s-datatype='coded' " + disableSqlEdit, "", false)
    </div>
    <div class="w3-row  w3-padding">
        <label class=""><b>@ResourceKey("RC.dnnsearchextra")</b></label>
        <div class="w3-small">
            <i>
                @ResourceKey("RC.dnnsearchextra", "", "Help")
            </i>
        </div>
        @TextArea(info, "genxml/dnnsearchextra", "class='w3-input w3-border' rows='2' ", "", false)
    </div>
    <div class="w3-row  w3-padding">
        @CheckBox(info, "genxml/generatelinkimages", "&nbsp;" + ResourceKey("RC.generatelinkimages").ToString(), "class='w3-check' ")
        <div class="w3-small w3-text-red">
            <i>
                @ResourceKey("RC.generatelinkimages", "", "Help")
            </i>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { 
    });
</script>
