@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/SystemData/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var info = portalCatalog.Info;
}

<div id="sidemenutoolsdata" class="w3-container a-panelsidemenu">

    <div class="w3-container">

        <div class="w3-row w3-margin">
            <div class="w3-quarter w3-padding">
                <div class="w3-button w3-blue simplisity_confirmclick" s-cmd="portalcatalog_validatecatalog" s-confirm="@ResourceKey("DNNrocket.validate") ?" s-return='#completedmodelmsgreturn'  s-fields='{"systemkey":"@systemData.SystemKey","portalid":"@portalCatalog.PortalId"}' style="width:100%;">@ResourceKey("DNNRocket.validate") and Rebuild Index</div>
            </div>
            <div class="w3-threequarter">
            </div>
        </div>
        <div class="w3-row w3-margin">
            <div class="w3-quarter w3-padding">
                <label>@ResourceKey("Help.schedulerrunhours")</label>
                @TextBox(info, "genxml/schedulerrunhours", "class='w3-input w3-border' maxlength='4'  ", "24")
            </div>
            <div class="w3-threequarter">
                @ResourceKey("Help.schedulerrunhours", "", "Help")
            </div>
        </div>

    </div>

</div>