@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.List.First();
    var info = portalCatalog.Info;
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var appThemeCatalog = (AppThemeSystemLimpet)Model.GetDataObject("appthemedirectory");
    var defaultsData = (SecurityLimpet)Model.GetDataObject("securitydata");
    DNNrocketUtils.SetCurrentCulture(DNNrocketUtils.GetEditCulture());
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
}

@RenderLanguageSelector("rocketsystem_edit", new Dictionary<string, string>(), appThemeCatalog, Model)


<div class='w3-animate-opacity'>

    <div class="w3-bar  w3-padding">
        <button class="w3-padding w3-button w3-theme-action savebutton simplisity_click" s-cmd="portalcatalog_save" s-return="#toolsmodalcontainer" s-list=".sqlorderbyproduct,.settingsdata,.linklist,.plugins" s-post="#systemadminsection" s-fields='{"systemkey":"@systemData.SystemKey","portalid":"@portalCatalog.PortalId"}'>@ButtonText(ButtonTypes.save)</button>
    </div>

    <div id="systemadminsection" class="w3-row">
        @RenderTemplate("RocketSystemGeneral.cshtml", appThemeCatalog, Model, true)
        @RenderTemplate("RocketSystemConfig.cshtml", appThemeCatalog, Model, true)
        @RenderTemplate("RocketSystemTools.cshtml", appThemeCatalog, Model, true)
        @RenderTemplate("RocketSystemProviders.cshtml", appThemeCatalog, Model, true)
    </div>

    <div>
        @if (UserUtils.IsInRole("Administrator"))
        {
            <div class="w3-container">
                <div class="w3-right">
                    @RenderXml(portalCatalog.Info)
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
