@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using RocketDirectoryAPI.Components;
@using Simplisity;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/AppThemes/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{
    var portalCatalog = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var info = portalCatalog.Info;
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var appThemeCatalog = (AppThemeSystemLimpet)Model.GetDataObject("appthemedirectory");
    DNNrocketUtils.SetCurrentCulture(DNNrocketUtils.GetEditCulture());
    var enabledlanguages = DNNrocketUtils.GetCultureCodeList();
    var appThemeList = (AppThemeDataList)Model.GetDataObject("appthemedatalist");
    var projectData = new AppThemeProjectLimpet();
    var systemDirectoryData = SystemSingleton.Instance("rocketdirectoryapi");
    var defaultsData = (DefaultsLimpet)Model.GetDataObject("defaultdata");
}

@RenderLanguageSelector("rocketsystem_edit", new Dictionary<string, string>(), appThemeCatalog, Model)

<div class='w3-animate-opacity'>

    <div class="w3-bar  w3-padding">
        <button class="w3-padding w3-button w3-theme-action savebutton simplisity_click" s-cmd="portalcatalog_save" s-list=".sqlorderbyproduct,.settingsdata,.linklist,.plugins" s-post="#systemadminsection" s-fields='{"systemkey":"@systemData.SystemKey","portalid":"@portalCatalog.PortalId","portalsystems":"@Model.SessionParamsData.Get("portalsystems")"}'>@ButtonText(ButtonTypes.save)</button>
    </div>

    <div id="systemadminsection" class="w3-row">
        [INJECT:appthemedirectory,RocketSystemGeneral.cshtml]
        [INJECT:appthemedirectory,RocketSystemConfig.cshtml]
        [INJECT:appthemedirectory,RocketSystemProviders.cshtml]
        [INJECT:appthemedirectory,RocketSystemTools.cshtml]
    </div>

    <div>
        @if (UserUtils.IsInRole("Administrator"))
        {
            <div class="w3-container">
                <div class="w3-right">
                    @RenderXml(info)
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>
