@using RocketDirectoryAPI.Components;
@using DNNrocketAPI;
@using Simplisity;
@using RocketPortal.Components;
@using DNNrocketAPI.Components;
@using System.Globalization;
@using Rocket.AppThemes.Components;

@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketDirectoryAPI/App_LocalResources/")

@{

    var sessionParams = (SessionParams)Model.SessionParamsData;
    var appThemeSystem = (AppThemeSystemLimpet)Model.GetDataObject("appthemesystem");
    var appThemeDirectory = (AppThemeSystemLimpet)Model.GetDataObject("appthemedirectory");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var systemData = (SystemLimpet)Model.GetDataObject("systemdata");
    var portalContent = (PortalCatalogLimpet)Model.GetDataObject("portalcontent");
    var appThemeProjects = (AppThemeProjectLimpet)Model.GetDataObject("appthemeprojects");
    var defaultData = (DefaultsLimpet)Model.GetDataObject("defaultdata");
    var moduleSettings = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var globalSettings = (SystemGlobalData)Model.GetDataObject("globalsettings");
    var appThemeDefault = (AppThemeLimpet)Model.GetDataObject("appthemedefault");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var appThemeDataListView = (AppThemeDataList)Model.GetDataObject("appthemedatalistview");
    var appThemeDataListAdmin = (AppThemeDataList)Model.GetDataObject("appthemedatalistadmin");
    var catalogSettings = (CatalogSettingsLimpet)Model.GetDataObject("catalogsettings");
    var catalogList = (CategoryLimpetList)Model.GetDataObject("categorylist");
    var propertyList = (PropertyLimpetList)Model.GetDataObject("propertylist");
    var dashBoard = (DashboardLimpet)Model.GetDataObject("dashboard");

    var articleDataList = (ArticleLimpetList)Model.GetDataObject("articlelist");
    var categoryData = (CategoryLimpet)Model.GetDataObject("categorydata");


    var rowcount = articleDataList.SessionParamData.RowCount;
    var page = articleDataList.SessionParamData.Page;
    var pagesize = articleDataList.SessionParamData.PageSize;
    var pagechapter = 5;
    var lastpage = 0;
    var catid = articleDataList.CategoryId;

    var r = (page - 1) / pagechapter;
    var BeginPage = 0;
    var EndPage = 0;

    if (pagesize > 0)
    {
        lastpage = System.Convert.ToInt32(rowcount / pagesize);
        if (rowcount % pagesize > 0)
        {
            lastpage += 1;
        }
        BeginPage = pagechapter * r + 1;
        EndPage = Math.Min(pagechapter * (r + 1), lastpage);
    }

}

@functions {

    public string PagingUrl(int tabId, int PageNumber)
    {
        var urlparams = new Dictionary<string, string>();
        urlparams.Add("page", PageNumber.ToString());
        return DNNrocketUtils.NavigateURL(tabId, urlparams);
    }

}
@if (pagesize > 0)
{

    <div class="w3-center w3-margin">
        <div class="w3-bar">
            @if (BeginPage != 1)
            {
                <a href="@PagingUrl(sessionParams.TabId, 1)" class="w3-button w3-hover-grey" onclick="$('.simplisity_loader').show()">|❮</a>
                if (page >= 6)
                {
                    <a href="@PagingUrl(sessionParams.TabId,BeginPage - 1)" class="w3-button w3-hover-grey" onclick="$('.simplisity_loader').show()">..</a>
                }
            }

            @for (int i = BeginPage; i < (EndPage + 1); i++)
            {
                var selected = "";
                if (i == page)
                {
                    selected = "w3-grey";
                }
                if (i <= lastpage)
                {
                    <a href="@PagingUrl(sessionParams.TabId,i)" class="w3-button w3-hover-grey" onclick="$('.simplisity_loader').show()">@(i)</a>
                }
            }

            @if (page < lastpage)
            {
                if (EndPage != lastpage)
                {
                    <a href="@PagingUrl(sessionParams.TabId,EndPage + 1)" class="w3-button w3-hover-grey" onclick="$('.simplisity_loader').show()">..</a>
                }
                <a href="@PagingUrl(sessionParams.TabId,lastpage)" class="w3-button w3-hover-grey" onclick="$('.simplisity_loader').show()">❯|</a>
            }

        </div>
    </div>

}